@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb Imgbreadcrumb">

    <!-- CONTAINER -->
    <div class="container">
        <h2>الاقتصاد</h2>
    </div><!-- //CONTAINER -->

</section>
<div class="breadcrumb-page">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/" title="Home">الرئيسيه /</a>
        <span class="breadcrumb-item active">الاقتصاد</span>
    </nav>
</div>
<section class="row">
    <div class="col-md-9">
        <div class="col-md-12">
            <div id="" class="row artsec">
                <div class="col-md-3 col-sm-4">
                    <div class="entry-image">
                        <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="entry-details">
                        <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                        <div class="entry-content">
                            <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                        </div>
                        <div class="service-more">
                            <a href="#" class="btn-blue">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div id="" class="row artsec">
                <div class="col-md-3 col-sm-4">
                    <div class="entry-image">
                        <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="entry-details">
                        <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                        <div class="entry-content">
                            <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                        </div>
                        <div class="service-more">
                            <a class="btn-blue">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div id="" class="row artsec">
                <div class="col-md-3 col-sm-4">
                    <div class="entry-image">
                        <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="entry-details">
                        <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                        <div class="entry-content">
                            <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                        </div>
                        <div class="service-more">
                            <a class="btn-blue">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div id="" class="row artsec">
                <div class="col-md-3 col-sm-4">
                    <div class="entry-image">
                        <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="entry-details">
                        <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                        <div class="entry-content">
                            <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                        </div>
                        <div class="service-more">
                            <a class="btn-blue">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div id="" class="row artsec">
                    <div class="col-md-3 col-sm-4">
                        <div class="entry-image">
                            <img src="http://forex.themehipster.com/demo1/wp-content/uploads/2016/08/7.jpg?e44c25" />
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="entry-details">
                            <h4 class="entry-title"><a href="#" rel="">Banking services</a></h4>
                            <div class="entry-content">
                                <p>We offer a range of private banking services tailored to your needs. Forex or lending? Our experts guide you to find the right solution worldwide.</p>
                            </div>
                            <div class="service-more">
                                <a class="btn-blue">Read more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 catygory">
        <ul>
            <li> <a>cat1</a> </li>
            <li> <a>cat2</a> </li>
            <li> <a>cat3</a> </li>
            <li> <a>cat4</a> </li>
            <li> <a>cat5</a> </li>
        </ul>
    </div>
</section>